.NavBar{
    background-color: rgb(83, 190, 190);
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
}
.NavBar h1 {
    color: blue;
    padding-top: 3%;
}
.NavBar li{
    list-style: none;
    text-decoration: none;
}
.Facebook{
    width: 100px;
}